@media only screen and (max-width: 767px) {
header {
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

body {
  background-color: rgb(55, 55, 55);  
}  




.drop img
{
  height: 99%;
  width: 99%;
  justify-content: center;

}
.dropB
{
  width: 14vw;
  height: 6vh;
  background-color: rgb(55, 55, 55);
}


.shop img {

  height: 99%;
  width: 99%;
  justify-content: center;
}
.shopB
{
  width: 14vw;
  height: 6vh;
  background-color: rgb(55, 55, 55);
}

.logo img {
  width: 19vw;
  height: 7vh;
  
}



main
{
display: flex;
justify-content: space-around;
}

.produktboarder1 {
grid-template-columns: 2/3;
grid-row: 1/2;
border-radius: 5%;
border: 2px solid rgb(0, 0, 0);
align-items: center;
background-color: rgb(151, 151, 151);
}


.ost1 img{
width: auto;
height: auto;
border-radius: 8px;
margin: 1rem;

}
.pris1
{
border: 2px solid black;
text-align:  center;
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: 0.5rem;
}



}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) {

}
